################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controle.Financeiro/.vs/Controle.Financeiro
*.cache
*.editorconfig
*.props
*.targets
*.txt
/Controle.Financeiro/Controle.Financeiro/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.Domain/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.Infrastructure/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financiero.Test/bin/Debug/net8.0
/Controle.Financeiro/Controle.Financiero.Test/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.Domain/bin/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro/bin/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.Infrastructure/bin/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.IntegrationTest/bin/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.IntegrationTest/obj/Debug/net8.0
/Controle.Financeiro/.vs/ProjectEvaluation
/Controle.Financeiro/Controle.Financeiro/obj
/Controle.Financeiro/Controle.Financeiro.Domain/obj
/Controle.Financeiro/Controle.Financeiro.Infrastructure/obj
/Controle.Financeiro/Controle.Financeiro.IntegrationTest/obj
/Controle.Financeiro/Controle.Financiero.Test/obj
/.vs
