################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controle.Financeiro/.vs/Controle.Financeiro
*.cache
*.editorconfig
*.json
*.props
*.targets
*.txt
/Controle.Financeiro/Controle.Financeiro/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.Domain/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financeiro.Infrastructure/obj/Debug/net8.0
/Controle.Financeiro/Controle.Financiero.Test/bin/Debug/net8.0
/Controle.Financeiro/Controle.Financiero.Test/obj/Debug/net8.0
